.container{
	margin: 0;
	position: relative;
}

.button{
	background-color:black;
	color:#fff;
	border:none;
	padding: 2px;
}

a{
	color:black;
}

a:hover{
	color:red;
}

h3{
	padding: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 23px;
}

div {
  text-align: center;
}

img{
	width: 100%;
}

.classroom-left-1 {
  background: #ff751a;
  position: absolute;
  width: 136px;
  height: 118px;
  left: 295px;
  top: 11px;
}

.classroom-left-2 {
  background: #ff751a;
  position: absolute;
  width: 136px;
  height: 130px;
  left: 295px;
  top: 138px;
}

.classroom-left-3 {
  background: #ff751a;
  position: absolute;
  width: 136px;
  height: 124px;
  left: 295px;
  top: 276px;
}

.stairs-1 {
  background: red;
  position: absolute;
  width: 136px;
  height: 75px;
  left: 295px;
  top: 410px;
}

.stairs-1 .button {
  position: absolute;
  width: 70%;
  left: 20px;
  bottom: 42px;
}

.staffroom{
  background: #1ab2ff;
  position: absolute;
  width: 136px;
  height: 217px;
  left: 295px;
  top: 610px;
}

.classroom-right-1 {
  background: #ff751a;
  position: absolute;
  width: 148px;
  height: 122px;
  left: 582px;
  top: 9px;
}

.classroom-right-2 {
  background: #ff751a;
  position: absolute;
  width: 148px;
  height: 126px;
  left: 582px;
  top: 140px;
}

.washroom {
  background: rgb(200,130,100);
  position: absolute;
  width: 136px;
  height: 107px;
  left: 295px;
  top: 494px;
}

.openspace {
  background: rgb(154,220,50);
  position: absolute;
  width: 238px;
  height: 209px;
  left: 580px;
  top: 497px;
}

.conferenceroom {
  background: #1ab2ff;
  position: absolute;
  width: 322px;
  height: 202px;
  left: 827px;
  top: 504px;
}

.lab {
  background: #1ab2ff;
  position: absolute;
  width: 148px;
  height: 212px;
  left: 582px;
  top: 274px;
}

.stairs-2 {
  background: red;
  position: absolute;
  width: 83px;
  height: 129px;
  left: 665px;
  top: 786px;
}

.stairs-2 .button {
  position: absolute;
  width: 80%;
  height: 28%;
  left: 6px;
  bottom: 12px;
}

.exam {
  background: #1ab2ff;
  position: absolute;
  width: 164px;
  height: 129px;
  left: 755px;
  top: 786px;
}

.academy {
  background: #1ab2ff;
  position: absolute;
  width: 216px;
  height: 125px;
  left: 928px;
  top: 788px;
}
